extends layout

block content
  #notfound
    .notfound
      .notfound-404
        h1 :(
      .notfound-message
        h2 #{error.status} - #{message}
        p An error has occured.
        a Learn more
