doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,700')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Passion+One:900')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
